# **Question-1**

## *Use IF ELSE and ELIF to write a program in python for your Report Cards :*

In [1]:
m = 88
if m > 90 and m <= 100:
  grade = "A+"
elif m > 80 and m <= 90:
  grade = "A"
elif m > 70 and m <= 80:
  garde = "B+"
elif m > 60 and m <= 50:
  grade = "B"
elif m > 40 and m <= 50:
  grade = "C"
elif m > 30 and m <= 40:
  grade = "D"
else:
  grade = "Fail"

In [2]:
print("Grade = "+str(grade)+" For marks = "+str(m))

Grade = A For marks = 88

# **Question-2**

## *Use For Loop to Print Prime Numbers in between 1 to 1000 :*

In [3]:
3%2

1

In [4]:
count = numprimes = 0
for i in range(1,1001):
  for j in range(1,1001):
    if i%j==0:
      count += 1
  if count==2:
    numprimes+=1
    print(i, end=" ")
  count=0
print()
print("There are "+str(numprimes)+" primes below 1000")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997
There are 168 primes below 1000

# **Question-3**

## *Write a program for printing the tables from 1,10 using Nested For Loop :*

In [5]:
for i in range(1,11):
  print("Table "+str(i))
  for j in range(1,11):
    print(str(i)+" x "+str(j)+ " = "+str(i*j))
  print()

Table 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Table 2
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Table 3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Table 4
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Table 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Table 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

Table 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

Table 8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

Table 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

Table 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

# **Question-4**

## *Write a program to Print X Prime Numbers using While Loop starting from 0, and take the INput of X from the user :*

In [6]:
X = int(input("Enter any number : "))
count = numprimes = 0
i = j = 1
while(i!=X*1000):
  while(j!=X*1000):
    if i%j == 0:
      count += 1
    j += 1
  if count==2:
    print(i, end=" ")
    numprimes += 1
  if numprimes == X:
    break
  i += 1
  j = 1
  count = 0

Enter any number : 28
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107